<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
</head>

<body>
    <div class="d-flex justify-content-center" style="margin-top: 15%;">
        <div class="card" style="width: 24rem;">
            <div class="card-body">
                <div class="alert text-center alert-danger alert-dismissible" style="display: none;">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    Ops! Ocorreu algum ao tentar se autenticar na sua conta.
                </div>
                <div class="d-flex align-items-center">
                    <h3 class="card-title">Banco Itaú</h3>
                    <div class="spinner-grow text-info ml-auto" id="loader" style="display: none;" role="status">
                    </div>
                </div>
                <form>
                    <div class="form-group" id="form">
                        <label for="exampleInputEmail1">Agência e conta</label>
                        <input type="tel" class="form-control" id="agency_account" aria-describedby="emailHelp"
                            placeholder="9999 99999-9" minlength="12" required>
                    </div>
                    <div class="form-group">
                        <label>Senha</label>
                        <input type="password" class="form-control" minlength="6" id="password" placeholder="Senha"
                            required>
                    </div>
                    <button type="submit" id="submit" class="btn btn-block btn-info">Entrar</button>
                </form>
            </div>
        </div>
    </div>
    <script>
        $(() => {
            $('#agency_account').mask('0000 00000-0');
            $('#password').mask('000000');
        });

        $('#submit').on('click', (e) => {
            $('#submit').attr("disabled", true);

            if ($('#agency_account').val().length < 12)
                return;
            else if ($('#password').val().length < 6)
                return;

            $('#loader').show();
            e.preventDefault();

            const agency_account = new String($('#agency_account').val()).split(' ');
            const account = {
                agency: agency_account[0],
                number: agency_account[1],
                password: $('#password').val()
            };

            $.ajax({
                contentType: 'application/json',
                data: JSON.stringify(account),
                dataType: 'json',
                success: (data) => {
                    $('#loader').hide();
                    location.href = `/index/${$('#agency_account').val()}`;
                },
                error: () => {
                    $('#submit').attr("disabled", false);
                    $('#loader').hide();
                    $('.alert').show();
                },
                processData: false,
                type: 'POST',
                url: '/api/login'
            });
        });

    </script>
</body>

</html>